{{/* Sözlük sayfaları data/glossary.yaml dosyasından otomatik üretilir. Bu dosyayı düzenlemeniz gerekmez. */}}
{{ $lang := "tr" }}
{{ range site.Data.glossary.terms }}
  {{ $t := index . $lang }}
  {{ $def := index .definition $lang | default "" }}
  {{ $.AddPage (dict
      "path" $t.slug
      "title" $t.term
      "kind" "page"
      "content" (dict "mediaType" "text/markdown" "value" $def)
      "params" (dict "pagetype" "glossary" "termid" .id "description" $def "translationKey" (printf "term-%s" .id))
  ) }}
{{ end }}
